ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

}

*, *:before, *:after {
  box-sizing: border-box;
}

h1{
	font-weight: bold;
	line-height: 14px;
	padding-bottom: 10px;
	font-size: 14px;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
	line-height: 1;
}

.container {
  margin: 0 auto;
  width: 300px;
	height: auto;
	display: block;
	border: 1px solid grey;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 300px;
	display: block;
	background-color: black;
}

.restaurant-list {
	margin-top: 40px;
	border: 1px;
	border-color: black;
	display: block;
	color: black;
	background-color: white;

}

.location {
	padding: 20px 0px 20px 5px;
	width: 100%;
	border-bottom : 1px solid #000000;


}

.location:hover {
	background-color: #CCCCCC;
	cursor: pointer;
}

.arrow {
	float:right;
	margin: -20px 20px 0px 0px;
}
